.slotdate{
    margin-bottom: 40px;
    text-decoration: solid;
    color: rgb(60, 59, 59);
    text-align: left;
    
}
.itemm
{
    color: rgb(60, 59, 59);
    text-decoration: solid;
    font-size: 150%;
}
.dropdownn{
    width: 100px;
    height: 35px;
    
}
.register{
    margin-bottom: 80px;
}

.buttons{
    /* display: flex; */
    /* margin:auto; */
    margin-top: 40px;
    align-items: center;
    margin-left: 200px;
   
   
}

.butn {
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    padding: 0.75rem 3.5rem;
    cursor: pointer;
    font-size: 1.15rem;
    border-radius: 30px;
    background: rgb(27, 25, 25);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    /* margin:auto; */
    width: auto;
    height: auto;
    margin-left: -300px;
   
   
  }
  .custom-select select{
    display: no none;
  }
  .custom-select{
    position: relative;
  }
  .select-items div{
    color: green;
    padding:8px 16px;
    border:1px solid transparent;
    cursor: pointer;
    user-select: none;
  }
 .dropdownn option{
width: 600px;
  }